<h1>Edit Workout Template</h1>

<%= render "form", workout_template: @workout_template, submit_text: "Update Template" %>

<%= link_to "Back to Template", workout_template_path(@workout_template), class: "btn bg-blue-500" %>
