<h1>New Workout Template</h1>

<%= render "form", workout_template: @workout_template, submit_text: "Create Template" %>

<%= link_to "Back to Templates", workout_templates_path, class: "btn bg-blue-500" %>
