<h1>Add Exercise to <%= @workout.name %></h1>

<%= render "form", workout_exercise: @workout_exercise, submit_text: "Add Exercise" %>

<div class="mt-4">
  <p><%= link_to "Back to Workout", workout_path(@workout), class: "btn bg-blue-500" %></p>
  <p><%= link_to "Create New Exercise", new_exercise_path, class: "btn bg-blue-500 ml-2" %></p>
</div>
