body {
  /* font-family: 'Walter Turncoat', sans-serif; */
}

a, button {
  color: blue;

  &:hover {
    color: darkblue;
  }
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.2rem;
  font-weight: bold;
  color: gray;
}

input, textarea {
  border: 1px solid #ccc;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
  width: 100%;
}

.btn {
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}
